<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div text-center>
            <img style="margin-top: 2px" text-center
                 src="../../assets/Logo e-bet.png" height="30"/>
        </div>
        <ion-buttons slot="end">
            <ion-button class="chat-btn" routerLink="/chat-list">
                <ion-icon name="chatboxes"></ion-icon>
                <ion-badge class="number-badge">{{numberMsg}}</ion-badge>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="2" padding text-center>
                <ion-avatar text-center (click)="presentModal()">
                    <img src="../../assets/icon/favicon.png" height="64" width="64"/>
                    <ion-badge color="danger"
                               style="position: absolute; margin-left: -10px; padding-left: 4px; padding-right: 4px;">
                        <ion-icon name="brush"></ion-icon>
                    </ion-badge>
                </ion-avatar>
            </ion-col>
            <ion-col size="4" margin-start no-padding padding-top padding-bottom text-center>
                <ion-row text-center>
                    <ion-col size="12" text-center no-padding>
                        <ion-label text-center>
                            {{user.username}}
                        </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row text-center>
                    <ion-col size="12" text-center no-padding>
                        <p class="stepper-font">USERNAME</p>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="2" no-padding padding-top padding-bottom text-center>
                <ion-row text-center>
                    <ion-col size="12" text-center no-padding>
                        <ion-label text-center  *ngIf="user.friends">
                            {{user.friends.length}}
                        </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row text-center>
                    <ion-col size="12" text-center no-padding>
                        <p class="stepper-font">FRIENDS</p>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="3" no-padding padding-top padding-bottom text-center *ngIf="user.summoners && user.summoners[0]">
                <ion-row text-center>
                    <ion-col size="12" text-center no-padding>
                        <ion-label text-center class="summoners-profile-name">
                            {{user.summoners[0].summonerName}}
                        </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12" text-center no-padding>
                        <p class="stepper-font">SUMMONER</p>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6" offset="3">
                <ion-segment (ionChange)="segmentChanged($event)" value="bets">
                    <ion-segment-button value="bets">
                        <ion-label>Bets</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="statics">
                        <ion-label>Statics</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="segment==='bets'">
        <ion-row>
            <ion-col size="12">
                <ion-list>
                    <ion-item *ngFor="let bet of bets">
                        <ion-grid no-padding [routerLink]="['bet', bet._id]">
                            <ion-row>
                                <ion-col size="3">
                                    <ion-row>
                                        <ion-col text-center>
                                            {{bet.bettor1}}
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col text-center no-padding>
                                            <p class="small-font">
                                                BETTOR 1
                                            </p>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col size="3">
                                    <ion-row>
                                        <ion-col text-center>
                                            {{bet.tokens}}
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col text-center no-padding>
                                            <p class="small-font">
                                                TOKENS
                                            </p>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col size="3">
                                    <ion-row>
                                        <ion-col text-center>
                                            {{bet.bettor2}}
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col text-center no-padding>
                                            <p class="small-font">
                                                BETTOR 2
                                            </p>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="segment==='statics'" padding>
        <ion-row>
            <ion-col size="12" text-center no-padding>
                <ion-label>
                    TOTAL BETS: {{bets.length}}
                </ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" text-center padding>
                <div>
                    <div>
                        <div class="chart">
                            <canvas baseChart
                                    [data]="pieChartData"
                                    [labels]="pieChartLabels"
                                    [chartType]="pieChartType"
                                    [options]="pieChartOptions"
                                    [colors]="pieChartColors"
                                    [legend]="pieChartLegend">
                            </canvas>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-row>
                    <ion-col text-center>
                        {{user.stats.ratioWinLose}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col text-center no-padding>
                        <p class="small-font">
                            WIN / LOSE RATIO
                        </p>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="6">
                <ion-row>
                    <ion-col text-center>
                        {{user.stats.userMostBets}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col text-center no-padding>
                        <p class="small-font">
                            USER MOST BETS AGAINTS
                        </p>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-row>
                    <ion-col text-center>
                        {{user.stats.yourNemesisIs}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col text-center no-padding>
                        <p class="small-font">
                            YOUR NEMESIS IS...
                        </p>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="6">
                <ion-row>
                    <ion-col text-center>
                        {{user.stats.youAreNemesisOf}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col text-center no-padding>
                        <p class="small-font">
                            YOU ARE NEMESIS OF...
                        </p>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
