<ion-content>
  <ion-grid>
    <ion-row margin-top>
      <ion-col>
        <img style="margin-top: 40%" text-center
           src="../../assets/Logo e-bet.png"/>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10%">
      <ion-col>
        <ion-button routerLink="login"
                    expand="block"
                    fill="outline">
          Log In
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button routerLink="register"
                    expand="block"
                    fill="outline">
          Sign In
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
