.my-custom-menu {
  --width: 500px;
}
.item-label{
  border: 0 !important;
}
.item-menu{
  padding-top: 10px;
  padding-bottom: 10px;
}
.icon{
  margin-top: 2px;
}
.small-label{
  color: #e6e6e6;
  font-size: 10px;
}
