
.summoners-name {
  font-size: 12px;
}

.small-font {
  font-size: 10px !important;
}


ion-row {
  height: 100% !important;
  align-items: center !important;
  justify-content: center !important;
}
