<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div text-center>
      <img style="margin-top: 2px" text-center
           src="../../assets/Logo e-bet.png" height="30"/>
    </div>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="chatboxes"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-right>
        <ion-label>
          {{time | date: 'mm:ss' }}
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-row>
          <ion-col>
            <ion-label>
              {{bet.bettor1}} bet for: {{bet.teamBettor1}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label *ngIf="bet.teamBettor1 === 'Team A'">
              You bet for: Team B
            </ion-label>
            <ion-label *ngIf="bet.teamBettor1 === 'Team B'">
              You bet for: Team A
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-list no-margin>
          <ion-list-header text-center>
            <ion-label>Team A</ion-label>
          </ion-list-header>
          <div *ngFor="let participant of game.participants">
            <ion-item *ngIf="participant.team === 100">
              <ion-avatar margin-end>
                <img src='https://ddragon.leagueoflegends.com/cdn/9.16.1/img/champion/{{createBetPage.champions(participant.championId)}}.png'>
              </ion-avatar>
              <p class="summoners-name">{{participant.summonerName}}</p>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
      <ion-col size="6">
        <ion-list no-margin>
          <ion-list-header text-center>
            <ion-label>Team B</ion-label>
          </ion-list-header>
          <div *ngFor="let participant of game.participants">
            <ion-item *ngIf="participant.team === 200">
              <ion-avatar margin-end>
                <img src='https://ddragon.leagueoflegends.com/cdn/9.16.1/img/champion/{{createBetPage.champions(participant.championId)}}.png'>
              </ion-avatar>
              <p class="summoners-name">{{participant.summonerName}}</p>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center margin-top>
        <ion-label>
          Bet tokens: {{bet.tokens}} e-bets
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="bet.duration && bet.duration >= 0">
      <ion-col text-center margin-top>
        <ion-label>
          Bet duration: {{bet?.duration | number: '1.0-0'}} min
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="bet.state === 'pending'">
      <ion-col text-center>
        <ion-label>
          Your address:
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="bet.state === 'pending'">
      <ion-col text-center no-padding>
        <ion-label class="small-font">
          {{user.address}}
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="user.username !== bet.bettor1 && bet.state === 'pending'">
      <ion-col>
        <div text-center>
          <ion-button (click)="acceptBet()"
                      shape="round"
                      fill="outline">
            Accept Bet!
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="user.username === bet.bettor1 && bet.state === 'pending'">
      <ion-col text-center margin-top>
        <ion-label class="summoners-name">
          You can't accept a Bet that you have created...
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
