<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div text-center>
            <img style="margin-top: 2px" text-center
                 src="../../assets/Logo e-bet.png" height="30"/>
        </div>
        <ion-buttons slot="end">
            <ion-button class="chat-btn" routerLink="/chat-list">
                <ion-icon name="chatboxes"></ion-icon>
                <ion-badge class="number-badge">{{numberMsg}}</ion-badge>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content></ion-content>
