<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div text-center>
            <img style="margin-top: 2px" text-center
                 src="../../assets/Logo e-bet.png" height="30"/>
        </div>
        <ion-buttons slot="end">
            <ion-button class="chat-btn" routerLink="/chat-list">
                <ion-icon name="chatboxes"></ion-icon>
                <ion-badge class="number-badge">{{numberMsg}}</ion-badge>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="walletEncryptBool">
        <ion-row>
            <ion-col text-center margin-top>
                <ion-label>
                    Introduce your Wallet password:
                </ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item no-padding margin-start margin-end>
                    <ion-label position="floating">
                        Password
                    </ion-label>
                    <ion-input [(ngModel)]="walletPassword"
                               type="password"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button margin-start
                            margin-end
                            expand="block"
                            fill="outline"
                            (click)="decryptWalletInfo()">
                    Enter
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="walletDecryptBool">
        <ion-row>
            <ion-col size="10">
                <ion-item>
                    <ion-label>Accounts</ion-label>
                    <ion-select [(ngModel)]="selectedAccount"
                                (ionChange)="categorySelection($event)"
                                okText="Okay" cancelText="Dismiss">
                        <ion-select-option *ngFor="let account of arrayAccounts"
                                           [value]="account">
                            {{account.address}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col size="2">
                <ion-button fill="clear"
                            (click)="addAccount()">
                    <ion-icon name="add"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" text-center>
                <h5>{{tokens | number: '1.0-3': 'fr'}}</h5>
            </ion-col>
            <ion-col size="12" text-center>
                <ion-label>
                    E-bets
                </ion-label>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6">
                <ion-button margin-start
                            margin-end
                            expand="block"
                            fill="outline"
                            (click)="buyTokens = true; sellTokens = false;">
                    Buy Tokens
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button margin-start
                            margin-end
                            expand="block"
                            fill="outline"
                            (click)="buyTokens = false; sellTokens = true;">
                    Sell Tokens
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-grid *ngIf="buyTokens">
            <ion-row>
                <ion-col size="12" text-center no-margin>
                    <ion-label>
                        Write nº E-bets to buy
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" text-center >
                    <ion-item>
                        <ion-label position="floating">Tokens</ion-label>
                        <ion-input [(ngModel)]="numberTokensBuy"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col offset="4" size="4" text-center padding-top>
                    <ion-label padding-top>
                        {{numberTokensBuy / 900 | number: '1.0-8'}} ethers
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" text-center no-margin>
                    <ion-label class="small-font">
                        1 eth = 900 E-bets; It will charge the tx fee
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button (click)="tokensBuy()"
                                expand="block"
                                fill="outline">
                        Buy Tokens
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="sellTokens">
            <ion-row *ngIf="tokens && tokens != 0">
                <ion-col size="12" text-center no-margin>
                    <ion-label>
                        Select nº tokens to sell
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="tokens && tokens != 0">
                <ion-col size="12">
                    <ion-range min="0" [max]="tokens"
                               pin="true" [(ngModel)]="numberTokensSell">
                        <ion-label slot="start">0</ion-label>
                        <ion-label slot="end">{{tokens}}</ion-label>
                    </ion-range>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="tokens && tokens != 0">
                <ion-col size="12" text-center>
                    <ion-label>
                        {{numberTokensSell}} E-bets - {{numberTokensSell / 1000 | number: '1.0-5'}} ethers
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="tokens && tokens != 0">
                <ion-col size="12" text-center no-margin>
                    <ion-label class="small-font">
                        1 eth = 1000 E-bets; It will charge the tx fee
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="tokens && tokens != 0">
                <ion-col>
                    <ion-button (click)="tokensSell()"
                                expand="block"
                                fill="outline">
                        Sell Tokens
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="!tokens || (tokens && tokens == 0)">
                <ion-col size="12" text-center>
                         You don't have any E-bets to sell
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-grid>
</ion-content>
