<!--<app-header-main>-->

<!--</app-header-main>-->

<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div text-center>
            <img style="margin-top: 2px" text-center
                 src="../../assets/Logo e-bet.png" height="30"/>
        </div>
        <ion-buttons slot="end">
            <ion-button class="chat-btn" routerLink="/chat-list">
                <ion-icon name="chatboxes"></ion-icon>
                <ion-badge class="number-badge">{{numberMsg}}</ion-badge>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button routerLink="createBet"
                            expand="block"
                            fill="outline">
                    Create Bet
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-list-header>
                        Open Bets
                    </ion-list-header>

                    <ion-item *ngFor="let bet of openBets">
                        <ion-grid no-padding [routerLink]="['bet', bet._id]">
                            <ion-row>
                                <ion-col size="4" no-padding>
                                    <ion-row>
                                        <ion-col text-center>
                                            {{bet.bettor1}}
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col text-center no-padding>
                                            <p class="small-font">
                                                BETTOR 1
                                            </p>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col size="4" no-padding>
                                    <ion-row>
                                        <ion-col text-center>
                                            {{bet.tokens}}
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col text-center no-padding>
                                            <p class="small-font">
                                                TOKENS
                                            </p>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col size="4" no-padding>
                                    <ion-row>
                                        <ion-col text-center>
                                            {{bet.bettor2}}
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col text-center no-padding>
                                            <p class="small-font">
                                                BETTOR 2
                                            </p>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                    <ion-label *ngIf="openBets.length === 0" text-center>
                        <p>Empty list</p>
                    </ion-label>
                </ion-list>


                <ion-list>
                    <ion-list-header>
                        Pending Bets
                    </ion-list-header>

                    <ion-item *ngFor="let bet of pendingBets" no-padding>
                        <ion-grid no-padding>
                            <ion-row>
                                <ion-col size="3"
                                         no-padding
                                         [routerLink]="['bet', bet._id]">
                                    <ion-row>
                                        <ion-col text-center>
                                            {{bet.tokens}}
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col text-center no-padding>
                                            <p class="small-font">
                                                TOKENS
                                            </p>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col size="3" no-padding
                                         [routerLink]="['bet', bet._id]">
                                    <ion-row>
                                        <ion-col *ngIf="(bet?.duration.toFixed(0) - now) >= 1" text-center>
                                            {{ duration(bet?.duration.toFixed(0)) | date: 'mm:ss' }}
                                        </ion-col>
                                        <ion-col class="medium-font"
                                                 *ngIf="(bet?.duration.toFixed(0) - now) <= 0" text-center>
                                             FINISHED*
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col text-center no-padding>
                                            <p class="small-font">
                                                DURATION
                                            </p>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col size="5" no-padding
                                         [routerLink]="['bet', bet._id]">
                                    <ion-row>
                                        <ion-col text-center>
                                            {{bet.bettor1}}
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col text-center no-padding>
                                            <p class="small-font">
                                                BETTOR
                                            </p>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col size="1" no-padding
                                         *ngIf="(bet?.duration.toFixed(0) - now) >= 1">
                                    <ion-button no-padding
                                                (click)="closeBet(bet)"
                                                class="ion-margin-top red"
                                                fill="clear">
                                        <ion-icon slot="icon-only" name="close"></ion-icon>
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                    <ion-label *ngIf="pendingBets.length === 0" text-center>
                        <p>Empty list</p>
                    </ion-label>
                </ion-list>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
