.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.small-font {
  font-size: 10px !important;
  padding-bottom: 0px;
}
.medium-font {
  font-size: 12px !important;
  padding-bottom: 8px;
  padding-top: 7px;
}
.red{
  color: red;
}
