<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center margin-top>
        <ion-label>
          Introduce your Wallet password:
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item no-padding margin-start margin-end>
          <ion-label position="floating">
            Password
          </ion-label>
          <ion-input [(ngModel)]="walletPassword"
                     type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button margin-start
                    margin-end
                    expand="block"
                    fill="outline"
                    (click)="decryptWalletInfo()">
          Enter
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
